
@import url("geral.css");

body {
    width: 100vw; height: 100vh;
    overflow: hidden
}

.error-container {
    width: 100%; height: 100%;
    padding: 30px;
}

h1 {
    color: var(--color-dg-001) !important;
    margin-bottom: 10px;
}

.error-actions {
    position: relative;
    height: 25px;
}

.error-actions > a.btn {
    color: var(--color-bg-000);
    position: absolute;
    right: 0; top: 0;
}

.cnt-act-img {
    height: max-content;
}

.content-img {
    width: 100%;
    height: 400px;
}

.error-image {
    width: 100%;
    height: 100%;
}

p {
    color: var(--color-dg-002);
    margin: 20px 0px;
}