@charset "UTF-8";

* {
    border: none; outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'inria-light';
}

@font-face {
 font-family: 'inria-light';
 src: url(../../sources/fonts/Inria_Sans/InriaSans-Light.ttf) format('woff2');
}

@font-face {
 font-family: 'inter';
 src: url(../../sources/fonts/Inter/inter-Light.ttf) format('woff2');
}

:root {
    /*=== GENERAL TEXT COLOR ===*/
    --color-bg-000: #dcfce7;
    --color-bg-001: #ffffff;
    --color-bg-100: #1f2937;
    --color-bg-101: #111827;
    --color-bg-102: #101828;
    --color-bg-103: #364153;
    --color-bg-104: #00a63e;
    --color-bg-105: #4a5565;
    --color-bg-106: #99a1af;
    --color-bg-107: #111827;
    --color-bg-108: #9ca3af;
    --color-bg-109: #4ade80;
}

body {
    background-color: var(--color-bg-101);
    /* width: 100vw; height: 100vh; */
    /* overflow: hidden; */
}

header {
    background-color: #1018287c;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--color-bg-100);
    padding: 0px 70px 0px 70px;
    overflow: hidden;
    
    position: fixed;
    /* top: 0; left: 0; */
    height: 8vh; width: 100%;
    z-index: 1000;
}

.content-logo a {
    color: var(--color-bg-000);
    font-size: 15pt;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.content-logo a img {
    background-color: var(--color-bg-104);
    border-radius: 3px;
    width: 40px;
    padding: 2px 5px;
}

header ul {
    display: flex; align-items: center; 
    justify-content: space-between;
    height: 100%;
}

header ul.content-link-ass {
    gap: 100px;
}

li.ass-link-hed > .link-header {
    color: var(--color-bg-000);
    display: block;
    font-family: inria-light;
    font-size: 12pt;
    font-weight: lighter;
    letter-spacing: 1px;
}

.link-lg.act {
    color: var(--color-bg-101) !important;
    font-weight: 600 !important;
}

.link-header.active {
    background-color: var(--color-bg-104);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--color-bg-101) !important;
    font-weight: bolder;
    transition: 0.3s;
}

.link-header.acti {
    background-color: var(--color-bg-101);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--color-bg-000) !important;
    font-weight: bolder;
    transition: 0.3s;
}

/*=============== CONFIGURAÇÕES DO MAINS ==============*/
main {
    width: 100%;
    padding-top: 8vh;
    
}

.fr-mn {
    width: 100%;
    transition: transform 0.8s ease;
}

.col-sld-cmp {
    width: 100%; height: 100vh;
    overflow: hidden;
}

.fr-col-land {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px 70px 0px;
    width: 100%; height: 100%;
}

.colo-vsg-wel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.img-logo {
    width: 130px;
}

.vsg-tlt-txt,
.vsg-par-txt,
.fin-txt-mn,
.regi-btn {
    letter-spacing: 1.5px;
}

.vsg-tlt-txt {
    background: linear-gradient(to right, var(--color-bg-104), var(--color-bg-109));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 35pt;
    text-transform: capitalize;
}

.vsg-par-txt {
    color: var(--color-bg-001);
    font-size: 20pt;
}

.fin-txt-mn {
    text-align: center;
    color: var(--color-bg-108);
    font-size: 16pt;
    line-height: 50px;
    font-weight: 600;
    margin: 60px 0px;
}

.camp-btn-reg {
    background-color: transparent;
    width: max-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.add-gap-1 {
    gap: 50px;
}

.regi-btn {
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    
    border-radius: 1000px;
    padding: 15px 0px;
    width: 190px;
}

.sign-up-btn {
    background-color: var(--color-bg-104);
    color: var(--color-bg-000);
}

.login-btn {
    background-color: var(--color-bg-100);
    border: 1px solid var(--color-bg-104);
    color: var(--color-bg-104);
}

.th-opt-txt {
    color: var(--color-bg-108);
    font-size: 16pt;
    font-weight: bolder;
}

/*================== CONFIGURACOES DO SOBRE =================*/
.sc-col-land {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-001);
    padding: 0px 50px 0px 50px;
    position: relative;
}

.cnt-by-img {width: 60%;}
@media (max-width: 1190px) {
    .cnt-by-img {width: 100%;}
}



    .sc-col-land > .cnt-by-img > h1 {
        font-size: 40pt;
        letter-spacing: 2px;
    }

    .sc-col-land > .cnt-by-img > p {
        color: var(--color-bg-103);
        font-size: 20pt;
        margin: 10px 0px 40px 0px;
    }

        .sc-col-land > .cnt-by-img > .col-land {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
        }

            .cnt-int-sc {
                background-color: var(--color-bg-001);
                border: 1.5px solid var(--color-bg-104);
                box-shadow: 1px 1px 400px 2px var(--color-bg-000);
                border-radius: 10px;
                width:300px;
                height: 200px;
                padding: 10px;
            }

                .cnt-int-sc > h2 {
                    font-size: 13pt;
                    color: var(--color-bg-101);
                    background-color: var(--color-bg-000);
                    border-radius: 5px;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 7px 10px;
                }
                
                .cnt-int-sc h2 img {
                    background-color: var(--color-bg-104);
                    border-radius: 5px;
                    width: 30px;
                    padding: 4px;
                }

                .cnt-int-sc > p {
                    color: var(--color-bg-101);
                    font-size: 12pt;
                    text-align: justify;
                    line-height: 35px;
                }

    .cont-img-2-sl {
        width: 45%;
    }
        .cont-img-2-sl > img {
            display: block;
            width: 100%; 
            overflow: hidden; 
        }
        @media (max-width: 1190px) {
            .cont-img-2-sl { display: none;}
        }

/*================== CONFIGURACOES DO SOBRE =================*/
.tr-col-land {
    /* display: none; */
    background-color: var(--color-bg-001);
    position: relative;
    padding-top: 50px;
}

.tr-col-land::before {
    content: " ";
    position: absolute;
    bottom: 0; left: 0;
    background-color: var(--color-bg-109);
    width: 30%;
    height: 3px;
}

/* .tr-col-land::after {
    content: " ";
    position: absolute;
    bottom: 0; right: 0;
    background-color: red;
    width: 30%;
    height: 3px;
} */

    .fil-cnt-tr {
        background-color: var(--color-bg-001);
        height: 50%;
        padding: 50px;
        display: flex;
        align-items: center;
        gap: 50px;
        overflow: hidden;
    }
    
    .fil-cnt-tr > div.al-tx {width: 50%;}
    
        .fil-cnt-tr > div.al-tx > h1, .fil-cnt-tr > div.al-tx > p {text-align: justify;}
        .fil-cnt-tr > div.al-tx > h1 {color: var(--color-bg-104); font-size: 40pt; margin-bottom: 20px;}
        .fil-cnt-tr > div.al-tx > p {color: var(--color-bg-105); font-size: 15pt; margin-bottom: 10px; line-height: 40px; letter-spacing: .5px;}
        @media (max-width: 1200px) {
            .fil-cnt-tr > div.al-tx > h1 {font-size: 30pt;}
        }
        .fil-cnt-tr > div.ad-col {
            background-color: transparent;
            width: 30%;
            height: 100%;
        }

    .set-fil-tr {
        background-color: var(--color-bg-104);
        border-radius: 30px 30px 0px 0px;
        height: 50%;
        display: flex;
        justify-content: center;
        padding: 70px;
    }

        .set-fil-tr > div {
            /* border: 1px solid var(--color-bg-101); */
            width: 400px; height: 250px;
            padding: 10px 30px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .set-fil-tr > div.sc {border-right: 2px solid #00000026; border-left: 2px solid #00000026}
            .set-fil-tr > div > img { background: #00000026; border-radius: 1000px; width: 80px; height: 80px; padding: 5px;}
            .set-fil-tr > div > h2 { color: rgba(1, 62, 31, 0.911); font-weight: 600; font-family: 'inter'; letter-spacing: 1.3px; font-size: 16pt;}
            .set-fil-tr > div > p { color: #e9f9f1; font-weight: lighter; font-size: 12pt; font-family: 'inter'; letter-spacing: 1.3px; text-align: center; line-height: 28px;}
    
    .scol-img {
        border-radius: 20px;
        box-shadow: 10px 10px 1px var(--color-bg-109);
        width: 40%; height: 45%;
        position: absolute; 
        top: 2%; right: 5%;
        overflow: hidden;
        z-index: 10;
    }
        .scol-img > img {width: 100%; height: 100%;}
        @media (max-width: 1200px) {
            .scol-img {
                top: 7%;
                width: 40%; height: 35%;
            }
        }

/*================== CONFIGURACOES DO FOOTER =================*/
:root {--font-weidth: 500; --letter-spacing: .5px;}
.fo-col-land {
    padding: 0px;
}
    /*====== Primeiro capitulo de  section com o class definido como:  fo-col-land=======*/
    .fo-col-land > .fo-col-sld {
        background-color: var(--color-bg-104);
        border-radius: 0px 0px 30px 30px;
        padding: 80px 100px 0px 100px;
        height: 55%;
    }

        .col-bl-fo-ld {
            width: 50%;
        }

        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > p{color: var(--color-bg-001);}

        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > p.fo-tx-p1 {
            background-color: #11182746;
            border-radius: 5px;
            font-size: 20px; 
            display: flex; 
            align-items: center; 
            gap: 10px; 
            padding: 5px 10px;
            width: max-content;
        }
        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > p > span{display: block;}
        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > p > span > img{background-color: var(--color-bg-104); width: 40px; border-radius: 5px; padding: 3px 5px;}
        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > h1{color: var(--color-bg-100); font-size: 2.5rem; margin: 20px 0px 15px 0px;}
        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > h1 > span{color: var(--color-bg-109);}

        .fo-col-land > .fo-col-sld > div.cnt-fo-sld > p.fo-tx-p2{
            font-size: 1.2rem;
            letter-spacing: var(--letter-spacing);
            line-height: 35px;
        }

        /*====== Ultimo capitulo de  section com o class definido como:  fo-col-land=======*/
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > li.content-logo{
            margin-bottom: 10px;
        }
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > li.content-logo > a.home_logo > span#ur-logo {
            color: var(--color-bg-001);
            font-size: 20px;
            font-weight: var(--font-weidth);
            letter-spacing: var(--letter-spacing);
        }
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > h2 {
            color: var(--color-bg-001);
            font-size: 20px;
            font-weight: var(--font-weidth);
            letter-spacing: var(--letter-spacing);
            margin-bottom: 10px;
        }
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > ul > li {
            color: var(--color-bg-108);
            cursor: pointer;
            font-size: 16px;
            letter-spacing: var(--letter-spacing);
            margin-top: 5px;
        }
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > ul > li:hover {
            color: var(--color-bg-109);
        }
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > p {
            color: var(--color-bg-108);
            font-size: 16px;
            letter-spacing: var(--letter-spacing);
            line-height: 25px;
        }
        
        .sc-col-sld {
            border-bottom: 1px solid var(--color-bg-103);
            padding: 40px 100px;
            display: flex;
            justify-content: space-between;
        }
            .sc-col-sld > div.cnt-fo-sld-sc {width: 20%;}


            .boletim > p {text-align: justify !important;}

        /*====== CAMPO DE NEWLETTER ======*/
        .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > form {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
            .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > form > input[type="email"] {
                color: var(--color-bg-001);
                background-color: var(--color-bg-105);
                border-radius: 1000px;
                font-size: 16px;
                padding: 5px 15px;
                width: 300px;
            }
            .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > form > button[type="submit"] {
                background-color: var(--color-bg-104);
                border-radius: 4px;
                padding: 4px 5px 1px 5px;
            }
            .fo-col-land > div.sc-col-sld > div.cnt-fo-sld-sc > form > button[type="submit"] > img {
                width: 30px;
            }

            .fouter-co {
                letter-spacing: var(--letter-spacing);
                display: flex;
                justify-content: space-between;
                padding: 20px 100px;
            }
                .fouter-co > .copy-tx {color: var(--color-bg-108);}
                .fouter-co > .pry-tx > a {color: var(--color-bg-108); margin-right: 25px;}
                .fouter-co > .pry-tx > a:hover {color: var(--color-bg-109); text-decoration: underline;}
                .fouter-co > p {color: var(--color-bg-108); display: flex; align-items: center; gap: 5px; justify-content: normal;}
                .fouter-co > p > img {width: 20px;}
