/* ========================================================== */
/* === AJUSTES DE RESPONSIVIDADE (MEDIA QUERIES) === */
/* ========================================================== */


/* Dispositivos Móveis/Smartphones (max-width: 768px) */
@media (max-width: 768px) {
    header {
        /* Altura maior para celular e padding ajustado */
        height: 10vh; 
        padding: 0px 20px;
    }

    header ul {
        /* Alinha a logo e os links no centro */
        justify-content: center;
    }

    header ul.content-link-ass {
        /* Esconde os links de navegação para liberar espaço na tela pequena */
        display: none; 
    }
    main {
        /* Ajusta a posição de início da área principal */
        top: 10vh; 
        height: calc(100vh - 10vh);
        overflow-y: auto; /* Permite rolar a tela principal */
    }
    
    .col-sld-cmp {overflow: hidden; height: max-content;}
    
    .fr-col-land {
        padding: 40px 20px 100px 20px;
    }

    .vsg-tlt-txt {
        /* Reduz o tamanho da fonte para o título */
        font-size: 25pt; 
        text-align: center;
    }

    .vsg-par-txt {
        /* Reduz o tamanho da fonte para o parágrafo */
        font-size: 16pt; 
        text-align: center;
    }

    .fin-txt-mn {
        /* Reduz o tamanho da fonte e margem */
        font-size: 14pt; 
        line-height: 30px;
        margin: 30px 0px;
    }

    .camp-btn-reg {
        /* Altera para layout de coluna e adiciona margem */
        flex-direction: column; 
        gap: 15px;
        margin-bottom: 20px;
    }

    .mini-footer-landing{display: none;}

    /* === Configurações do SOBRE (Segunda seção) === */
    .sc-col-land {
        flex-direction: column;
        padding: 20px;
    }

    .sc-col-land > .cnt-by-img {
        width: 100%;
    }

    .sc-col-land > .cnt-by-img > h1 {
        font-size: 35pt; 
    }

    .sc-col-land > .cnt-by-img > p {
        font-size: 23pt; 
        margin: 10px 0px 20px 0px;
        line-height: 45px;
    }

    .sc-col-land > .cnt-by-img > .col-land {
        justify-content: center;
        width: 80%;
        margin: 0px auto;
        padding: 20px 0px;
    }

    .cnt-int-sc {
        width: 90%; 
        height: 200px;
    }
    
    .cnt-int-sc > p {
        line-height: 30px;
        margin: 10px 0px;
        font-size: 16pt;
    }

    /* === Configurações da Terceira Seção (TR-COL-LAND) === */
    .tr-col-land {
        height: auto;
    }
    
    .fil-cnt-tr {
        flex-direction: column;
        height: auto;
        padding: 50px;
    }

    .fil-cnt-tr > div.al-tx {
        width: 100%; /* Ocupa a largura total */
    }

    .fil-cnt-tr > div.al-tx > h1 {
        font-size: 24pt;
    }
    .fil-cnt-tr > div.al-tx > p {
        font-size: 14pt;
        line-height: 30px;
    }

    .fil-cnt-tr > div.ad-col {
        display: none; /* Esconde este elemento se for apenas um espaço vazio ou imagem de fundo não essencial */
    }

    .scol-img {
        /* Remove imagem flutuante */
        display: none; 
    }

    .set-fil-tr {
        /* Altera para layout de coluna e ajusta o padding */
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .set-fil-tr > div {
        border: none !important; 
        width: 80%;
        padding: 0px 20px;
        margin: 0 auto;
    }


    /* === Configurações do FOOTER === */
    .fo-col-land > .fo-col-sld {
        padding: 70px 20px; 
    }

    .col-bl-fo-ld {
        width: 100%; /* Ocupa a largura total */
    }

    .fo-col-land > .fo-col-sld > div.cnt-fo-sld > h1 {
        font-size: 2rem;
    }
    
    .sc-col-sld {
        /* Layout de coluna para as seções do footer */
        flex-direction: column; 
        padding: 30px 20px;
        gap: 30px;
    }

    .sc-col-sld > div.cnt-fo-sld-sc {
        width: 100%; /* Ocupa a largura total */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .cnt-fo-sld-sc > h2 {text-align: center;}
    .cnt-fo-sld-sc > ul > li {text-align: center;}

    .fouter-co {
        /* Layout de coluna para o rodapé final */
        flex-direction: column; 
        padding: 10px 20px;
        gap: 10px;
        text-align: center;
    }

    .fouter-co > .pry-tx {
        /* Centraliza os links */
        display: flex;
        flex-direction: column;
    }
    
    .fouter-co > .pry-tx > a {
        margin: 5px 0px;
    }

    .fouter-co > .copy-tx {
        order: 1; /* Coloca o copyright por último se necessário */
    }

    .fouter-co > p {justify-content: center;}

    .boletim {
        width: 60% !important; 
        margin: 0 auto;
    }
    
    .boletim > p {
        text-align: center;
    }
    
    .boletim > form {
        width: 100%;
    }
    
    .boletim > form > input[type="email"] {
        width: 100%;
        padding: 40px 10px;
    }
}
