
@import url("geral.css");

#painel_cadastro {
    background-color: #00a60300 !important;
    width: 100vw; height: 100vh; overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-image: url("../img/errors/sessao_espirada.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85% 63%;
    box-shadow: 1px 2px 1000px #899ff131;
    border: 2px solid #03025518;
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
}

.chi-main {
    padding: 10px;
    background-color: #01fc2b71;
    backdrop-filter: blur(10px);
    width: 100%; height: 100%;
}

h2 {
    color: #050386c9;
    text-align: center;
    font-size: 14pt;
}

#switchConta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
}

#switchConta > button {
    background-color: #0f0be1;
    border-radius: 5px;
    color: #fff;
    letter-spacing: .1px;
    font-size: 12pt;
    width: 100px;
    padding: 5px 10px;
}

h1#titulo {
    text-align: center;
    color: #0f0be1;
    margin-bottom: 20px;
}

.person-field-input {
    background-color: #13b91a;
    border-radius: 5px;
    margin-top: 10px;
}

.person-field-input > label {
    border-radius: 10px 10px 0px 0px;
    /* color: rgb(1, 51, 1); */
    color: #020151;
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: .01px;

    display: block;
    padding: 5px;
    width: 100%;
}

.person-field-input > input {
    background-color: #4af35d;
    border-radius: 5px;
    width: 100%; padding: 7px 10px;
    font-size: 12pt;
}

button[type="submit"] {
    background-color: #0f0be1;
    color: #fff;
    font-size: 12pt;
    font-weight: 650;
    border-radius: 5px;
    margin-top: 20px;
    padding: 7px 20px;
}