@charset "UTF-8";

* {
    border: none; outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'inria-light';
}

@font-face {
 font-family: 'inria-light';
 src: url(../fonts/Inria_Sans/InriaSans-Light.ttf) format('woff2');
}

:root {
    /*=== GENERAL TEXT COLOR ===*/
    --color-bg-pr: #ffffff;
    --color-bg-sc: #9be9a0;
    --color-bg-sc-oth: #7abb6f;
    --color-bg-tr-oth: #abedaa;

    /*=== GENERAL BACKGROUND ===*/
    --geral-bg-pr: #080E2B;
    --oth-bg-pr: #88ff90;
    --oth-bg-sc: rgba(217, 217, 217, 0.09);

    /*=== GENERAL BORDER ===*/
    --border-cl-pr: #9BE9A0;
}

body {
    background-color: var(--geral-bg-pr);
    width: 100vw; height: 100vh;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--border-cl-pr);
    padding: 0px 70px 0px 20px;
    overflow: hidden;
    
    position: fixed;
    top: 0; left: 0;
    height: 8vh; width: 100%;
    z-index: 10;
}

.content-logo {
    overflow: hidden;
    width: max-content; height: 100%;
}

.content-logo img {
    width: 200px;
}

header ul {
    display: flex; align-items: center; 
    justify-content: space-between;
}

header ul.content-link-ass {
    gap: 100px;
}

li.ass-link-hed > a.link-header {
    color: var(--color-bg-pr);
    display: block;
    font-family: inria-light;
    font-size: 12pt;
    font-weight: lighter;
    letter-spacing: 1px;
}

.link-header.active {
    background-color: var(--oth-bg-pr);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--geral-bg-pr) !important;
    font-weight: bolder;
    transition: 0.3s;
}

/*=============== CONFIGURAÇÕES DO MAINS ==============*/
main {
    position: absolute;
    top: 8vh; left: 0;
    width: 100%;
    height: calc(100vh - 8vh);
    overflow: hidden;
}

.fr-mn {
    height: auto;
    height: 100%; width: 100%;
    transition: transform 0.8s ease;
}

.col-sld-cmp {
    height: 92vh; width: 100%;
    overflow: hidden;
}

.fr-col-land {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px;
}

.sc-col-land {
}

.colo-vsg-wel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.img-logo {
    width: 220px;
}

.vsg-tlt-txt,
.vsg-par-txt,
.fin-txt-mn,
.regi-btn,
.mini-footer-landing {
    letter-spacing: 1.5px;
}

.vsg-tlt-txt {
    color: var(--color-bg-sc);
    font-size: 35pt;
}

.vsg-par-txt {
    color: var(--color-bg-sc-oth);
    font-size: 20pt;
}

.fin-txt-mn {
    text-align: center;
    color: var(--color-bg-pr);
    font-size: 16pt;
    line-height: 50px;
    font-weight: 600;
    margin: 60px 0px;
}

.camp-btn-reg {
    background-color: transparent;
    width: max-content;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
}

.regi-btn {
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    
    border-radius: 1000px;
    padding: 15px 0px;
    width: 190px;
}

.sign-up-btn {
    background-color: var(--oth-bg-pr);
    color: var(--geral-bg-pr);
}

.login-btn {
    background-color: var(--oth-bg-sc);
    color: var(--color-bg-sc);
}

.th-opt-txt {
    color: var(--color-bg-sc-oth);
    font-size: 16pt;
    font-weight: bolder;
}

.mini-footer-landing {
    color: var(--color-bg-tr-oth);
}