@charset "UTF-8";

* {
    border: none; outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'inria-light';
}

@font-face {
 font-family: 'inria-light';
 src: url(../fonts/Inria_Sans/InriaSans-Light.ttf) format('woff2');
}

:root {
    /*=== GENERAL TEXT COLOR ===*/
    --color-bg-pr: #ffffff;
    --color-bg-sc: #9be9a0;
    --color-bg-sc-oth: #7abb6f;
    --color-bg-tr-oth: #abedaa;
    --color-tlt: #E5FFE7;

    /*=== GENERAL BACKGROUND ===*/
    --geral-bg-pr: #080E2B;
    --oth-bg-pr: #88ff90;
    --oth-bg-sc: rgba(217, 217, 217, 0.09);

    /*=== GENERAL BORDER ===*/
    --border-cl-pr: #9BE9A0;
}

body {
    background-color: var(--geral-bg-pr);
    width: 100vw; height: 100vh;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--border-cl-pr);
    padding: 0px 70px 0px 20px;
    overflow: hidden;
    
    position: fixed;
    top: 0; left: 0;
    height: 8vh; width: 100%;
    z-index: 10;
}

.content-logo {
    overflow: hidden;
    width: max-content; height: 100%;
}

.content-logo img {
    width: 200px;
}

header ul {
    display: flex; align-items: center; 
    justify-content: space-between;
}

header ul.content-link-ass {
    gap: 100px;
}

li.ass-link-hed > a.link-header {
    color: var(--color-bg-pr);
    display: block;
    font-family: inria-light;
    font-size: 12pt;
    font-weight: lighter;
    letter-spacing: 1px;
}

.link-header.active {
    background-color: var(--oth-bg-pr);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--geral-bg-pr) !important;
    font-weight: bolder;
    transition: 0.3s;
}

/*=============== CONFIGURAÇÕES DO MAINS ==============*/
main {
    position: absolute;
    top: 8vh; left: 0;
    width: 100%;
    height: calc(100vh - 8vh);
    overflow: hidden;
}

.fr-mn {
    height: auto;
    height: 100%; width: 100%;
    transition: transform 0.8s ease;
}

.col-sld-cmp {
    height: 92vh; width: 100%;
    overflow: hidden;
}

.fr-col-land {    
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px;
}

.colo-vsg-wel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.img-logo {
    width: 220px;
}

.vsg-tlt-txt,
.vsg-par-txt,
.fin-txt-mn,
.regi-btn,
.mini-footer-landing {
    letter-spacing: 1.5px;
}

.vsg-tlt-txt {
    color: var(--color-bg-sc);
    font-size: 35pt;
}

.vsg-par-txt {
    color: var(--color-bg-sc-oth);
    font-size: 20pt;
}

.fin-txt-mn {
    text-align: center;
    color: var(--color-bg-pr);
    font-size: 16pt;
    line-height: 50px;
    font-weight: 600;
    margin: 60px 0px;
}

.camp-btn-reg {
    background-color: transparent;
    width: max-content;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.add-gap-1 {
    gap: 100px;
}

.regi-btn {
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    
    border-radius: 1000px;
    padding: 15px 0px;
    width: 190px;
}

.sign-up-btn {
    background-color: var(--oth-bg-pr);
    color: var(--geral-bg-pr);
}

.login-btn {
    background-color: var(--oth-bg-sc);
    color: var(--color-bg-sc);
}

.th-opt-txt {
    color: var(--color-bg-sc-oth);
    font-size: 16pt;
    font-weight: bolder;
}

.mini-footer-landing {
    color: var(--color-bg-tr-oth);
}

/*================== CONFIGURACOES DO SOBRE =================*/
.sc-col-land {
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    overflow: hidden;
}

    .content-in-ab {
        border: 1px solid var(--color-bg-tr-oth);
        border-radius: 5px;
        width: 400px;
        height: 70%;
        padding: 5px;
        overflow: hidden;
        position: relative;
    }

        .tlt-cmp-ab {
            /* color: var(--color-tlt); */
            font-size: 16pt;
            font-weight: bolder;
            text-align: center;
            border-bottom: 1px solid var(--color-bg-tr-oth);
            padding: 15px 0px;
            letter-spacing: 1.8px;
        }

    .ab-content {margin-top: 150px;}

    .or-content p{
        color: var(--color-bg-pr);
        text-align: justify;
        font-family: 'inria-light';
        font-weight: 100;
        font-size: 14pt;
        letter-spacing: 2px;
        line-height: 40px;
        padding: 10px;
    }

    .if-content {margin-bottom: 150px;}

        .trig-ct {
            position: absolute;
            right: 0; bottom: 0;
            width: 0px; height: 0px;
            border-top: 200px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 200px solid transparent;
        }

        .trig-or {border-right: 200px solid rgba(217, 217, 217, 0.10);}
        .trig-if {border-right: 200px solid rgba(16, 178, 5, 0.17);}
        .trig-ab {border-right: 200px solid rgba(127, 0, 255, 0.19);}

        .ab-tlt {color: #7f00ff;}
        .or-tlt {color: #c0c0c0;}
        .if-tlt {color: #66ff82;}

        .mn-lis {
            margin-left: 30px;
        }

            .item-list {
                color: var(--color-bg-pr);
                list-style-type: disc;
                margin-top: 20px;
            }
                .item-list a {color: var(--color-bg-pr); letter-spacing: 1.5px; font-size: 14pt;}


    .reg-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        background-color: var(--geral-bg-pr);
        position: absolute;
        right: 2%;
        bottom: 2%;
        height: 300px;
        z-index: 5;
    }
        .close-reg-cmp {
            background-color: rgba(217, 217, 217, 0.09);
            border-radius: 1000px;
            color: #66ff82;
            font-size: 14pt;
            position: absolute;
            top: 4px; right: 10px;
            width: 35px; height: 35px;
            cursor: pointer;
        }

        .open-reg-cmp {
            background-color: rgba(217, 217, 217, 0.09);
            border: 1px solid var(--border-cl-pr);
            border-radius: 1000px;
            color: #66ff82;
            cursor: pointer;
            font-size: 14pt;
            position: absolute;
            right: 40px; bottom: 20px;
            padding: 10px 30px;
            letter-spacing: 2px;
            display: none;
        }
        .reg-content p {color: var(--color-bg-pr); font-size: 14pt; margin-bottom: 25px;}


/*================== CONFIGURACOES DO SOBRE =================*/
.tr-col-land {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-gap-2 {gap: 50px;} 

.fr-col-tr {
    background-color: rgba(192, 192, 192, 0.09);
    border: 1px solid var(--border-cl-pr);
    border-radius: 5px;
    padding: 10px;
    width: 400px; height: 550px;
}

    .tlt-tr {color: #C994FF; margin: 10px 0px; padding-bottom: 3px; position: relative;}
    .tlt-tr::before {
        content: "";
        background-color: var(--border-cl-pr);
        width: 60px; height: 1px;
        position: absolute;
        left: 0; bottom: 0;
    }

    .fr-cmp-tr {
        border-bottom: 1px solid var(--border-cl-pr);
        margin: 25px 0px;
        padding-bottom: 20px;
    }

    .tlt-cmp {color: var(--color-bg-sc);}

    .li-am-lk a.lk-li-item {
        color: var(--color-bg-pr);
        text-decoration: underline;
        font-size: 12pt;
        display: flex;
        align-items: center;
        gap: 3px;
        margin-top: 10px;
    }

    .li-am-lk a.lk-li-item:hover {
        color: var(--color-bg-sc-oth);
        text-decoration: none;
    }

        .cnt-img-con {
            /* border: .5px solid var(--border-cl-pr); */
            border-radius: 1000px;
            display: inline-block;
            width: 30px; height: 30px;
            overflow: hidden;
        }

            .cnt-img-con img {width: 100%; height: 100%;}

.sc-col-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 20px 200px;
    border-bottom: 2px solid var(--border-cl-pr);
}
    .tlt-sc-col, .cnt-txt-sc-tr {text-align: center;}

    .tlt-sc-col {color: #C994FF; letter-spacing: 1.5px;}
    .cnt-txt-sc-tr {color: var(--color-bg-pr); font-size: 14pt; letter-spacing: 1.7px; line-height: 35px; font-weight: 900;}
    .term-cond {color: var(--color-bg-pr); letter-spacing: 1.5px; font-size: 11pt;}


.sc-cmp-tr, .lk-flw {display: flex; align-items: center;}
.sc-cmp-tr {gap: 20px;}
    .sc-cmp-tr p {color: var(--color-bg-pr);}
    .lk-flw {gap: 35px;}

        .itm-lk-flw {
            /* border: 1px solid var(--border-cl-pr); */
            border-radius: 1000px;
            width: 45px;
            height: 45px;
        }

        .itm-flw {
            display: inline-block;
            width: 100%; height: 100%;
            /* overflow: hidden; */
        }

            .itm-flw img{
                width: 100%; height: 100%;
            }