@charset "UTF-8";

* {
    border: none; outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'inria-light';
}

@font-face {
 font-family: 'inria-light';
 src: url(../fonts/Inria_Sans/InriaSans-Light.ttf) format('woff2');
}

@font-face {
 font-family: 'inter';
 src: url(../fonts/Inter/inter-Light.ttf) format('woff2');
}

:root {
    /*=== GENERAL TEXT COLOR ===*/
    --color-bg-000: #dcfce7;
    --color-bg-001: #ffffff;
    --color-bg-100: #1f2937;
    --color-bg-101: #111827;
    --color-bg-102: #101828;
    --color-bg-103: #364153;
    --color-bg-104: #00a63e;
    --color-bg-105: #4a5565;
    --color-bg-106: #99a1af;
    --color-bg-107: #111827;

    --color-bg-pr: #abb3c1;
    --color-bg-sc-oth: #7abb6f;
    --color-bg-tr-oth: #abedaa;
    --color-tlt: #E5FFE7;
    --color-tlt-oth: #66FF82;

    /*=== GENERAL BACKGROUND ===*/
    --oth-bg-pr: #88ff90;
    --oth-bg-sc: rgba(217, 217, 217, 0.09);

    /*=== GENERAL BORDER ===*/
    --border-cl-pr: #9BE9A0;

}

body {
    background-color: var(--color-bg-101);
    width: 100vw; height: 100vh;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--color-bg-100);
    padding: 0px 70px 0px 70px;
    overflow: hidden;
    
    position: fixed;
    top: 0; left: 0;
    height: 8vh; width: 100%;
    z-index: 10;
}

.content-logo a {
    color: var(--color-bg-000);
    font-size: 15pt;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.content-logo a img {
    background-color: var(--color-bg-104);
    border-radius: 3px;
    width: 40px;
    padding: 2px 5px;
}

header ul {
    display: flex; align-items: center; 
    justify-content: space-between;
    height: 100%;
}

header ul.content-link-ass {
    gap: 100px;
}

li.ass-link-hed > a.link-header {
    color: var(--color-bg-000);
    display: block;
    font-family: inria-light;
    font-size: 12pt;
    font-weight: lighter;
    letter-spacing: 1px;
}

.link-header.active {
    background-color: var(--color-bg-104);
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--color-bg-101) !important;
    font-weight: bolder;
    transition: 0.3s;
}

/*=============== CONFIGURAÇÕES DO MAINS ==============*/
main {
    position: absolute;
    top: 8vh; left: 0;
    width: 100%;
    height: calc(100vh - 8vh);
    overflow: hidden;
}

.fr-mn {
    height: auto;
    height: 100%; width: 100%;
    transition: transform 0.8s ease;
}

.col-sld-cmp {
    height: 92vh; width: 100%;
    overflow: hidden;
}

.fr-col-land {    
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px 20px 0px;
}

.colo-vsg-wel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.img-logo {
    width: 130px;
}

.vsg-tlt-txt,
.vsg-par-txt,
.fin-txt-mn,
.regi-btn,
.mini-footer-landing {
    letter-spacing: 1.5px;
}

.vsg-tlt-txt {
    color: var(--color-bg-104);
    font-size: 35pt;
}

.vsg-par-txt {
    color: var(--color-bg-sc-oth);
    font-size: 20pt;
}

.fin-txt-mn {
    text-align: center;
    color: var(--color-bg-000);
    font-size: 16pt;
    line-height: 50px;
    font-weight: 600;
    margin: 60px 0px;
}

.camp-btn-reg {
    background-color: transparent;
    width: max-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.add-gap-1 {
    gap: 50px;
}

.regi-btn {
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    
    border-radius: 1000px;
    padding: 15px 0px;
    width: 190px;
}

.sign-up-btn {
    background-color: var(--color-bg-104);
    color: var(--color-bg-000);
}

.login-btn {
    background-color: var(--color-bg-100);
    border: 1px solid var(--color-bg-104);
    color: var(--color-bg-104);
}

.th-opt-txt {
    color: var(--color-bg-sc-oth);
    font-size: 16pt;
    font-weight: bolder;
}

.mini-footer-landing {
    color: var(--color-bg-105);
}

/*================== CONFIGURACOES DO SOBRE =================*/
.sc-col-land {
    background-color: var(--color-bg-001);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 100px 100px;
}

    .cnt-int-sc {
        background-color: var(--color-bg-001);
        border: 1.5px solid var(--color-bg-104);
        box-shadow: 1px 1px 20px 2px var(--color-bg-000);
        border-radius: 10px;
        width:380px;
        height: 230px;
        padding: 10px;
    }

        .cnt-int-sc h2 {
            color: var(--color-bg-101);
            background-color: var(--color-bg-000);
            border-radius: 10px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
        }

            .cnt-int-sc h2 img {
                background-color: var(--color-bg-104);
                border-radius: 5px;
                width: 40px;
                padding: 4px;
            }


/*================== CONFIGURACOES DO SOBRE =================*/
.tr-col-land {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-gap-2 {gap: 50px;} 

.fr-col-tr {
    background-color: rgba(192, 192, 192, 0.09);
    border: 1px solid var(--border-cl-pr);
    border-radius: 5px;
    padding: 10px;
    width: 400px; height: 550px;
}

    .tlt-tr {color: #C994FF; margin: 10px 0px; padding-bottom: 3px; position: relative;}
    .tlt-tr::before {
        content: "";
        background-color: var(--border-cl-pr);
        width: 60px; height: 1px;
        position: absolute;
        left: 0; bottom: 0;
    }

    .fr-cmp-tr {
        border-bottom: 1px solid var(--border-cl-pr);
        margin: 25px 0px;
        padding-bottom: 20px;
    }

    .tlt-cmp {color: var(--color-bg-104);}

    .li-am-lk a.lk-li-item {
        color: var(--color-bg-pr);
        text-decoration: underline;
        font-size: 12pt;
        display: flex;
        align-items: center;
        gap: 3px;
        margin-top: 10px;
    }

    .li-am-lk a.lk-li-item:hover {
        color: var(--color-bg-sc-oth);
        text-decoration: none;
    }

        .cnt-img-con {
            /* border: .5px solid var(--border-cl-pr); */
            border-radius: 1000px;
            display: inline-block;
            width: 30px; height: 30px;
            overflow: hidden;
        }

            .cnt-img-con img {width: 100%; height: 100%;}

.sc-col-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 20px 200px;
    border-bottom: 2px solid var(--border-cl-pr);
}
    .tlt-sc-col, .cnt-txt-sc-tr {text-align: center;}

    .tlt-sc-col {color: #C994FF; letter-spacing: 1.5px;}
    .cnt-txt-sc-tr {color: var(--color-bg-pr); font-size: 14pt; letter-spacing: 1.7px; line-height: 35px; font-weight: 900;}
    .term-cond {color: var(--color-bg-pr); letter-spacing: 1.5px; font-size: 11pt;}


.sc-cmp-tr, .lk-flw {display: flex; align-items: center;}
.sc-cmp-tr {gap: 20px;}
    .sc-cmp-tr p {color: var(--color-bg-pr);}
    .lk-flw {gap: 35px;}

        .itm-lk-flw {
            /* border: 1px solid var(--border-cl-pr); */
            border-radius: 1000px;
            width: 45px;
            height: 45px;
        }

        .itm-flw {
            display: inline-block;
            width: 100%; height: 100%;
            /* overflow: hidden; */
        }

            .itm-flw img{
                width: 100%; height: 100%;
            }

.fo-col-land {
    /* display: flex;
    flex-direction: column; */
}

    .fo-col-sld {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        padding: 0px 100px;
    }

        .cnt-fo-sld h1 {color: var(--color-tlt-oth); text-transform: uppercase; letter-spacing: 2px; font-size: 30pt;}
        .cnt-fo-sld p {color: var(--color-bg-pr); margin-top: 20px; text-align: left; font-size: 18pt; letter-spacing: 1.5px;}

    .sc-col-sld {
        background-color: #338442;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 70%; 
    }

        .cnt-fo-sld-sc {display: flex; justify-content: space-between; align-items: center; padding: 60px 100px 70px 100px;}
            
            .tlt-f-ls, .tlt-f,
            .bloc-info h2, .bloc-info p, .bloc-info h4 {color: var(--color-bg-pr); letter-spacing: 1.5px;}
            .tlt-f-ls {text-transform: uppercase; font-size: 18pt; font-weight: 900;}
            .tlt-f {margin-top: 15px;}

        .bloc-info {
            background-color: rgba(19, 28, 45, 0.6);
            border-radius: 10px;
            width: 350px;
            padding: 15px;
        }

            .bloc-info h2 {font-size: 15pt; text-transform: uppercase; margin-bottom: 20px;} 
            .bloc-info p {font-size: 12pt; text-align: justify; line-height: 28px;} 
            .bloc-info h4 {font-size: 10pt; text-align: center; margin: 5px 0px; font-family: 'inter'; font-weight: 100;} 
            
            #mailInfo {
                color: var(--color-bg-pr);
                background-color: rgba(166, 185, 155, 0.49); 
                border: 1px solid var(--border-cl-pr); 
                border-radius: 100px; 
                font-size: 13pt;
                padding: 6px 25px;
                width: 100%;
                margin: 30px auto;
            }

            input::placeholder {color: var(--color-bg-pr); text-align: center;}